html{
    margin: 0px;
}

body {
    background-color: wheat;

}
#nuestras_capillas{
    color:crimson;
    text-align: center;
}
#nuestros_lideres{
    color: crimson;
    text-align: center;
}
.capillas-container {
    display: grid;
    background-color: lightgreen;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 50px 50px 50px 50px 50px;
    column-gap: 10px;
    row-gap: 10px
}
.grid-item {
    background-color:blueviolet;
    border: 1px solid black;
}
